<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Ready to create an app?</strong>
    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
    <ion-button shape="round" (click)="toggleSound()">Toggle sound</ion-button>
    <br>
    <ion-label>Oscillator gain</ion-label>
    <ion-range [pin]="true" [pinFormatter]="pinFormatter" min="0.0" max="1.0" step="0.05"
    (ionChange)="onOscillatorGainChange($event)"></ion-range>
    <ion-label>Hiss gain</ion-label>
    <ion-range [pin]="true" [pinFormatter]="pinFormatter" min="0.0" max="1.0" step="0.05"
    (ionChange)="onHissGainChange($event)"></ion-range>
  </div>
</ion-content>
